.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;    
  }
  
  .social-networks div {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .social-networks div p {
    padding: 0 10px;
  }
  
  #contact form {
    display: flex;
    flex-direction: column;
  }

  .social-icons>a {
    color: #b1aaaa;
  }

  .social-icons>a:hover {
    transition: 0.5s;
    transform: scaleX(1.2) scaleY(1.2);
    color: #E9E9E9;
  }
  
  .social-icons>a:not(:last-child) {
    margin-right: 1em;
  }