header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/matrix2.gif");
    opacity: 0.9;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.name_title h1 {
    font-size: 10em;
    font-weight: 100;
    color: var(--creme);
    margin: .5em;
}

.name_title h2 {
    font-size: 5em;
    color: var(--creme);
}

.logo {
    width: 30em;
}

.nav {
    display: flex;
    backdrop-filter: blur(10px);    
    width: 30em;
    align-items: center;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: var(--creme);
}

.nav h2 {
    margin: 0.5em .4em;
    font-weight: 100;
    font-size: 1.5rem;
    font-family: 'Special Elite', cursive;
}

@media (min-width: 320px) and (max-width: 530px) {
    .nav {
        width: 18em;
    }
    .nav h2 {
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.5em 0.1em;
    }
    .logo {
        width: 18em;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}