* {
  --creme: #E9E9E9;
  --black: #070707;
  --gray: #b1aaaa;
  --ligthgrenn: #42cd07;
  --anothergreen: #67b943;
  --extra: #10b9ec;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--black);
  font-size: 16px;
}