main h1 {
    font-size: 3rem;
}

#about {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    line-height: 1.2em;
    justify-content: center;
    align-items: center;
}

#about,
#projects {
    background-color: var(--black);
}

.container-text {
    max-width: 65vw;
}

.text-about p {
    text-align: justify;
    margin: 1em;
}

#about img {
    max-width: 30vw;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

#getInTouch, #downloadCV {
    text-decoration: none;
    padding: 1em;
    color: var(--black);
    background-color: var(--gray);
    border-radius: 0 0.5em;
    font-size: 1.5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif; 
}

#getInTouch:hover, #downloadCV:hover {
    transition: .7s;
    background-color: var(--ligthgrenn);
}

#skills {
    font-size: 1.5rem;
}

.listas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lista {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.habilidade {
    display: flex;
    flex-direction: column;
    background-color: var(--creme);
    padding: 0.5em 0;
    justify-content: center;
    align-items: center;
    width: 13em;
    list-style: none;
    border-radius: 10px;
    border: 5px solid var(--gray);
    color: var(--black);
    margin: 10px;
    font-family: 'Orbitron', sans-serif; 
}

.habilidade:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

.habilidade img {    
    width: 100px;    
}

.habilidade span {
    font-size: 12px;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projeto {
    width: 25em;
    background-color: var(--anothergreen);
    margin: 1em;
    color: var(--black);
}

.projeto a {
    margin: 0 10px;
}

@media (min-width: 320px) and (max-width: 780px) {
    #about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main h1 {
        padding: 0 1em;
    }

    .container-text {
        max-width: 90vw;
    }

    .text-about p {
        font-size: 1.2rem;
    }

    #about img {
        max-width: 80vw;
    }

    #getInTouch, #downloadCV {
        font-size: 14px;
    }

    ul {
        padding: 0;
    }

    .lista {
        width: 100vw;
        margin: 0;
    }

    .habilidade {
        font-size: 10px;
        width: 12em;
        margin: 10px;
    }
}

@media (min-width: 580px) and (max-width: 1200px) {

}