main h1 {
    font-size: 3em;
}

#about {
    width: 95%;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    line-height: 1.2em;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#about,
#projects {
    background-color: #070707;
}

.text-about {
    margin: 0 auto;
}

.text-about p {
    text-align: justify;
    margin: 1em;
}

#about img {
    width: 30vw;
}

.listas {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.projeto {
    width: 25em;
    background-color: #67b943;
    margin: 1em;
    color: #070707;
}

.projeto a {
    margin: 0 10px;
}

@media (min-width: 320px) and (max-width: 570px) {
    #about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-about {
        padding: 0;
    }

    #about img {
        width: 80vw;
    }
}