.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E9E9E9;
}

.logo {
  width: 6em;
}

.nav {
  display: flex;
}

.nav a {
  text-decoration: none;
  color:#070707;
}

.nav h1 {
  margin: 0 .5em;
}

section {
  height: 40vh;
}


