.App {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E9E9E9;
}

.logo {
  width: 6em;
}

.nav {
  display: flex;
}

.nav a {
  text-decoration: none;
  color:#070707;
}

.nav h1 {
  margin: 0 .5em;
}

#about, #projects {
  background-color: #CDBFB6;
}

.text-about {
  padding: 0 20px;
  width: 80vw;
  margin: 0 auto;
}

.text-about p {
  text-align: justify;
}

.listas {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projetos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projeto {
  width: 25em;
  background-color: #B199F3;
  margin: 1em;
}
.projeto a {
  margin: 0 10px;
}